body {
	font-family: "Callibri", sans-serif;
}

li {
	font-size: 13pt;
	line-height: 150%;
}

li.high {
	background-color: #FF0000;
}

li.medium {
	background-color: #7A58E2;
}

li.low {
	background-color: #009900;
}

li.done {
	text-decoration: line-through;
	list-style-image: url('http://www.shophq.com/images/stylesheetimgs/checkMarkSmall.gif');
}