body {
	font-family: sans-serif;
}

.lower {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}

form {
	list-style: none;
	background-color: lightblue;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

form label {
	display: block;
}