body {
	font-family: sans-serif;
}

button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}

ul {
	list-style: none;
}

div {
	background: lightblue;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 60%;
}

input {
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

select {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}